In [1]:
from ngmt.datasets import mobilised
import pandas as pd

In [2]:
# file_path contains a string that tells pd where ur data is 
file_path = 'IMUS1.tsv'

# Read the TSV file into a DataFrame
df = pd.read_csv(file_path, sep='\t', header = 1) # <- if we use this, we can see an uglier version of the data 
df.columns

Index(['Time', 'Accelerometer', 'Unnamed: 2', 'Unnamed: 3', 'Gyroscope',
       'Unnamed: 5', 'Unnamed: 6', 'Magnetometer', 'Unnamed: 8', 'Unnamed: 9',
       'Barometer', 'Orientation', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [3]:
df.head(5) # this is not really good for data analysis,
# If we open this in excel or some other csv handling software, we can see why it's formatted like this

,Time,Accelerometer,Unnamed: 2,Unnamed: 3,Gyroscope,Unnamed: 5,Unnamed: 6,Magnetometer,Unnamed: 8,Unnamed: 9,Barometer,Orientation,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,X,Y,Z,X,Y,Z,X,Y,Z,NaN,S,X,Y,Z
1,1.645200e+15,-9.924275,0.744738,1.44013,0.0425,0.063194,0.013976,29.908138,8.837042,15.392934,4.636850e+18,-0.764974,-0.044162,-0.642411,-0.013125
2,1.645200e+15,-9.900382,0.768888,1.488947,0.063933,0.033331,0.000101,29.908138,9.080527,15.478364,4.636850e+18,-0.764878,-0.044339,-0.642517,-0.012959
3,1.645200e+15,-9.875965,0.817546,1.549903,0.086359,0.022508,-0.015907,29.908138,9.167147,15.478988,4.636850e+18,-0.764806,-0.044544,-0.642594,-0.012686
4,1.645200e+15,-9.924262,0.817896,1.574577,0.098184,0.016069,-0.031928,29.835429,8.840564,15.588052,4.636850e+18,-0.764749,-0.044744,-0.642655,-0.012336

In [6]:
df = pd.read_csv(file_path, sep='\t',skiprows = 2, header = 1)

# Display the first few rows of the DataFrame

df.shape # rows, cols

,1.6452E+15,-9.924275,0.744738,1.44013,0.0425,0.063194,0.013976,29.908138,8.837042,15.392934,4.63685E+18,-0.764974,-0.044162,-0.642411,-0.013125
0,1.645200e+15,-9.900382,0.768888,1.488947,0.063933,0.033331,0.000101,29.908138,9.080527,15.478364,4.636850e+18,-0.764878,-0.044339,-0.642517,-0.012959
1,1.645200e+15,-9.875965,0.817546,1.549903,0.086359,0.022508,-0.015907,29.908138,9.167147,15.478988,4.636850e+18,-0.764806,-0.044544,-0.642594,-0.012686
2,1.645200e+15,-9.924262,0.817896,1.574577,0.098184,0.016069,-0.031928,29.835429,8.840564,15.588052,4.636850e+18,-0.764749,-0.044744,-0.642655,-0.012336
3,1.645200e+15,-9.900385,0.902713,1.611105,0.108872,0.005420,-0.044767,29.919711,8.607941,15.600971,4.636850e+18,-0.764717,-0.044945,-0.642687,-0.011918
4,1.645200e+15,-9.888087,0.988165,1.575027,0.115312,0.010642,-0.056525,29.920345,8.763737,15.492010,4.636850e+18,-0.764671,-0.045135,-0.642736,-0.011450

In [ ]:
df.head # right now our column names are nonexistent/nonsense

In [ ]:
df.columns # like i said, just nonsense

### Trying to make the Columns better

In [7]:
# Define the new column headers
new_headers = [
    'Time', 'Accelerometer_X', 'Accelerometer_Y', 'Accelerometer_Z',
    'Gyroscope_X', 'Gyroscope_Y', 'Gyroscope_Z',
    'Magnetometer_X', 'Magnetometer_Y', 'Magnetometer_Z',
    'Barometer', 'Orientation_S', 'Orientation_X', 'Orientation_Y', 'Orientation_Z'
]

# Assign the new headers to the DataFrame
df.columns = new_headers

df.columns #that's better

Index(['Time', 'Accelerometer_X', 'Accelerometer_Y', 'Accelerometer_Z',
       'Gyroscope_X', 'Gyroscope_Y', 'Gyroscope_Z', 'Magnetometer_X',
       'Magnetometer_Y', 'Magnetometer_Z', 'Barometer', 'Orientation_S',
       'Orientation_X', 'Orientation_Y', 'Orientation_Z'],
      dtype='object')

In [8]:
df.head(3)

,Time,Accelerometer_X,Accelerometer_Y,Accelerometer_Z,Gyroscope_X,Gyroscope_Y,Gyroscope_Z,Magnetometer_X,Magnetometer_Y,Magnetometer_Z,Barometer,Orientation_S,Orientation_X,Orientation_Y,Orientation_Z
0,1.645200e+15,-9.900382,0.768888,1.488947,0.063933,0.033331,0.000101,29.908138,9.080527,15.478364,4.636850e+18,-0.764878,-0.044339,-0.642517,-0.012959
1,1.645200e+15,-9.875965,0.817546,1.549903,0.086359,0.022508,-0.015907,29.908138,9.167147,15.478988,4.636850e+18,-0.764806,-0.044544,-0.642594,-0.012686
2,1.645200e+15,-9.924262,0.817896,1.574577,0.098184,0.016069,-0.031928,29.835429,8.840564,15.588052,4.636850e+18,-0.764749,-0.044744,-0.642655,-0.012336

In [10]:
df.head(5)

,Time,Accelerometer_X,Accelerometer_Y,Accelerometer_Z,Gyroscope_X,Gyroscope_Y,Gyroscope_Z,Magnetometer_X,Magnetometer_Y,Magnetometer_Z,Barometer,Orientation_S,Orientation_X,Orientation_Y,Orientation_Z
0,1.645200e+15,-9.900382,0.768888,1.488947,0.063933,0.033331,0.000101,29.908138,9.080527,15.478364,4.636850e+18,-0.764878,-0.044339,-0.642517,-0.012959
1,1.645200e+15,-9.875965,0.817546,1.549903,0.086359,0.022508,-0.015907,29.908138,9.167147,15.478988,4.636850e+18,-0.764806,-0.044544,-0.642594,-0.012686
2,1.645200e+15,-9.924262,0.817896,1.574577,0.098184,0.016069,-0.031928,29.835429,8.840564,15.588052,4.636850e+18,-0.764749,-0.044744,-0.642655,-0.012336
3,1.645200e+15,-9.900385,0.902713,1.611105,0.108872,0.005420,-0.044767,29.919711,8.607941,15.600971,4.636850e+18,-0.764717,-0.044945,-0.642687,-0.011918
4,1.645200e+15,-9.888087,0.988165,1.575027,0.115312,0.010642,-0.056525,29.920345,8.763737,15.492010,4.636850e+18,-0.764671,-0.045135,-0.642736,-0.011450